/**********************
    Settings page    */

.vall_wpfw.settings-page-wrapper .vallonic-logo {
  margin-top: 20px;
}

.vall_wpfw.settings-page-wrapper .settings-container {
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr {
  background: white;
  border-bottom: 1px solid #eee;
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr th {
  background: none repeat scroll 0 0 #fff;
  padding: 10px 20px;
  text-align: left;
  border-left: 1px solid #DFDFDF;
  /*border-top: 1px solid #DFDFDF;*/
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  font-weight: 400
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table .type {
  font-weight: 700;
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr td {
  padding: 10px 20px;
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr:not(:last-child) {
  border-bottom: none;
}
.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr:not(:last-child) th, .vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr:not(:last-child) td {
  border-bottom: none !important;
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr .header {
  background: none repeat scroll 0 0 #F5F5F5;
  padding: 10px 20px;
  text-align: left;
  border-left: 1px solid #DFDFDF;
  border-top: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
}


.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr th:not(.header):first-child {
  width: 15%;
  border-right: none;
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr td, .vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr th {
  vertical-align: top;
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr td:last-child {
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table tbody tr th h3 {
  margin: 0;
  font-size: 18px;;
  font-weight: 300;
  line-height: 1.4;
}

.vall_wpfw.settings-page-wrapper .settings-container .settings-table tr td .customcode {
  width: 50%;
}

/**********************
Dashboard customizen */
.button.button-primary, .vall_wpfw.settings-page-wrapper .submit .button.button-primary {
  /* Button-kleuren aanpassen */
  text-shadow: none;
  background: #39b79f;
  border-color: #31a572;
  box-shadow: 0 1px 0 #31a572;
}

.button.button-primary:active, .vall_wpfw.settings-page-wrapper .submit .button.button-primary:active {
  /* Button-kleuren bij active aanpassen */
  border-color: #31a572;
  -webkit-box-shadow: inset 0 2px 0 #31a572;
  box-shadow: inset 0 2px 0 #31a572;
}

input[type="checkbox"]:checked::before {
  /* Geeft een kleur aan vinkjes in checkboxes */
  color: #37b79f !important;
}

#wp-version-message, .footer-thankyou {
  /* WordPress meldingen verbergen */
  display: none;
}

.wrap .frash-notice.notice {
  /* WP Smush meldingen verbergen */
  display: none !important;
}

.CodeMirror.cm-s-default {
  /* CodeMirror: randje om textarea */
    border: 1px #DFDFDF solid;
}

.CodeMirror.cm-s-default {
  /* Grootte */
  width: 100% !important;
}

#wp-admin-bar-wp-logo {
  /* Logo van WP verbergen in dashboard toolbar */
  display: none;
}
